.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100vw;
  height: 100vh;
}

#start-timer {
  margin: 20px;
}

#start {
  margin: 5px;
}

#end {
  margin: 5px;
}

#start-hour-container {
  margin: 0px 5px 0px 5px;
}

